body {
    position:    absolute;
    left:        0;
    top:         0;
    padding:     0;
    margin:      0;
    width:       100vw;
    height:      100vh;
    overflow:    hidden;
    font-family: "JetBrains Mono", monospace;
    font-size:   12px;
}

::selection {
    background-color: var(--color-darker);
}

#root {
    width: 100%;
    height: 100%;
}

.resizable-pane>div {
    width: 100%;
    height: 100%;
}

#asm-editor-outer {
    display: flex;
    flex-direction: row;
    padding: 0 0.5em;
}

#asm-editor-outer>#line-numbers {
    position: relative;
    flex: 0;
    color: var(--color-medium);
    user-select: none;
    height: fit-content;
    --current: -infinity;
}

#line-numbers::before {
    position: absolute;
    top: calc(var(--current) * 18px);
    content: "▶";
    color: var(--color-green);
}

#line-numbers::after {
    border-left: 1px solid var(--color-medium);
    position: absolute;
    width: 1.5em;
    height: 100%;
    content:"";
    top: 0;
    background-color: var(--color-dark);
    z-index: 1;
    transform: translateX(-1px);
}

#asm-editor {
    flex: 1;
    overflow-x: scroll;
    overflow-y: visible;
    padding-left: 1.5em;
    height: fit-content;
    scroll-padding-left: calc(1.5em);
}

#asm-editor>pre {
    cursor: default;
}

input#function-name {
    field-sizing: content;
    color: var(--color-green);
    caret-color: var(--color-light);
}

input#function-name::placeholder {
    color: var(--color-medium);
}

.code-highlighter-container span.tab-line {
    width: 10px;
    margin-right: -10px;
    display: inline-block;
    margin-top: -1px;
    height: 18px;
    margin-bottom: -4.5px;
    transform-origin: left;
    transform: scaleX(0.1);
    background-color: var(--color-darker);
    mix-blend-mode: lighten;
}

.code-highlighter-container .error {
    background: color-mix(var(--color-red) 20%, transparent);
}
.code-highlighter-container :is(.comment, .punct) {
    color: var(--color-medium);
}
.code-highlighter-container .label {
    color: var(--color-green);
}
.code-highlighter-container .opcode {
    color: var(--color-red);
}
.code-highlighter-container .condition {
    color: var(--color-orange);
}
.code-highlighter-container :is(.registerGP,.ZR,.SP) {
    color: var(--color-yellow);
}
.code-highlighter-container :is(.imm) {
    color: var(--color-purple);
}