@font-face {
    font-family: JetBrains Mono;
    src: url(assets/JetBrainsMono.ttf) format("truetype");
    /* A single char of JetBrains Mono is (font-size * 0.6) pixels */
}

:root {
    --color-red: #ff6188;
    --color-orange: #fc9867;
    --color-yellow: #ffd866;
    --color-green: #a9dc76;
    --color-blue: #78dce8;
    --color-purple: #ab9df2;
    --color-darkest: #19181a;
    --color-dark: #2d2a2e;
    --color-darker: #4F4D50;
    --color-medium: #939293;
    --color-light: #fffffd;
    color: var(--color-light);
    background: var(--color-dark);

    font-family: system, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    background: transparent;
    outline: none;
    border:  none;
    margin:  0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}